<body>
  <div class="container">
      <div class="header">
          <h1>ABC BANK</h1>
          <h3>Loan Processing Application</h3>
      </div>
      <div class="content">
          <h2 id="welcomeHeading">Welcome to ABC Bank Loan processing system.</h2>
          <p id="p1">Now Get your Loan Approved instantly!!!</p>
          <p id="p2">Your loan approved immediately using this cool and fully automated application.
          In order to Submit a new loan request, click on "Submit application".
          For viewing existing loan applications, click on "View applications".</p>
      </div>
       <div class="buttons">  
            <button id="submitloan" [routerLink]="['/submitloan']">Submit Application</button>     
            <button id="viewapps" [routerLink]="['/viewapps']">View Applications</button>
            </div>
  </div>
</body>

