/* Global Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: calc(100vh - 50px);
}

@media (min-height: 501px) {
  /* Styles for screens with height greater than 500px */
  body {
    height: calc(100vh - 50px);
  }
}

/* Container Styles */
.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem 3rem;
  text-align: center;
  max-width: 600px;
  width: 100%;
  transition: box-shadow 0.3s ease;
}

.container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Header Styles */
.header {
  margin-bottom: 2rem;
}

.header h1 {
  color: #16477b;
  font-size: 2.5rem;
  margin: 0;
}

.header h3 {
  color: #555555;
  font-size: 1.0rem;
  margin: 0.5rem 0 0;
}

/* Content Styles */
.content {
  margin-bottom: 2rem;
}

.content h2 {
  color: #16477b;
  font-size: 1.15rem;
  margin: 0 0 1rem;
}

.content p {
  color: #555555;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

/* Button Container Styles */
.buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 20px;
}

/* Button Styles */
button {
  background-color: #007bff; /* Default color */
  border: none;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  text-transform: none; /* Preserve original case */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  transform: translateY(2px);
}

/* Specific Button Styles */
#submitloan {
  background-color: #28a745; /* Green color */
}

#submitloan:hover {
  background-color: #218838; /* Darker green on hover */
}

#viewapps {
  background-color: #4a74a9; /* Yellow color */
}

#viewapps:hover {
  background-color: #1462c0; /* Darker yellow on hover */
}

p {
  margin: 0;
  color: #555555;
}

@media(width <= 500px){
  .buttons{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #p2{
    font-size: 14px;
  }
  #p1{
    font-size: 16px;
  }

  button{
    width: 60%;
    font-size: 12px;
  }
}

#p2{
  text-align: justify;
}

