
<body>  
    <div class="container">
        <h1 id="successMsgHeading">Application Submitted Successfully</h1>
        <p id="successMsgPara1" class="congrats">CONGRATULATIONS !!!!</p>
        <p id="successMsgPara2">Your application is submitted successfully.</p>
        <p>Our automated system will determine if your application is accepted or not.</p>  
        <div class="buttons">

            <button id="home" type="button" [routerLink]="['']">Home</button>
            <button id="viewApplications" type="button" [routerLink]="['/viewapps']">View Applications</button>

        </div>
    </div>
</body>